/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab: */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
body > ul > li > div {
  padding: 10px 10px 10px 10px;
}
ul#status > li {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
}
ul#teams > li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  text-align: center;
}
div#count {
  font-size: 200%;
  font-weight: bold;
}

/* Colors for categories */
#noms {
  background-color: rgb(86, 197, 255);
}
#triage {
  background-color: rgb(0, 130, 135);
}
#blockers {
  background-color: rgb(0, 216, 204);
}

/* Colors for tiles */
.color0 {
  background-color: rgb(70, 23, 180);
}
.color1 {
  background-color: rgb(0, 193, 63);
}
.color2 {
  background-color: rgb(254, 123, 34);
}
.color3 {
  background-color: rgb(176, 30, 0);
}
.color4 {
  background-color: rgb(0, 106, 193);
}
.color5 {
  background-color: rgb(225, 183, 0);
}
