/* -*- Mode: Java; tab-width: 2; indent-tabs-mode: nil; c-basic-offset: 2 -*- */
/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab: */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  outline: none;
}

div#menu {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
}
div.checkbox {
  padding: 10px 10px 10px 10px;
}
div.checkbox {
  display: inline-block;
  background-color: rgb(231, 76, 60);
}
div.checkbox {
  background-color: #2ecc71;
}

ul {
  list-style: none;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  margin: 0;
  display: inline-block;
}
body > ul {
  padding: 0;
}
body > ul > li > div {
  padding: 10px 10px 10px 10px;
}
ul#status > li {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-weight: normal;
}
ul#components > li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  text-align: center;
}
a#count {
  font-size: 200%;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Colors for categories */
#noms {
  background-color: rgb(86, 197, 255);
}
#triage {
  background-color: rgb(0, 130, 135);
}
#blockers {
  background-color: rgb(0, 216, 204);
}

/* Colors for tiles */
.color0 {
  background-color: rgb(70, 23, 180);
}
.color1 {
  background-color: rgb(0, 193, 63);
}
.color2 {
  background-color: rgb(254, 123, 34);
}
.color3 {
  background-color: rgb(176, 30, 0);
}
.color4 {
  background-color: rgb(0, 106, 193);
}
.color5 {
  background-color: rgb(225, 183, 0);
}
